<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <h1>Employee Manager - Razor Pages</h1>
            @RenderBody()
            <hr />
            @if(User.Identity.IsAuthenticated)
            {
                <h2>You are signed in as @User.Identity.Name</h2>
                <form asp-page="/Security/SignOut" method="post">
                    <button type="submit">Sign Out</button>
                </form>
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
