@page "{id:int}"
@model UpdateModel

<h2>Update Existing Employee</h2>
<h3 class="text-danger">@Model.Message</h3>

@if (Model.DataFound)
{
    <form method="post">
        <table class="table">
            <tr>
                <td><label asp-for="Employee.EmployeeID"></label></td>
                <td>
                    <input type="hidden" asp-for="Employee.EmployeeID" />
                    <span>@Model.Employee.EmployeeID</span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Employee.FirstName"></label></td>
                <td>
                    <input type="text" asp-for="Employee.FirstName" />
                    <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Employee.LastName"></label></td>
                <td>
                    <input type="text" asp-for="Employee.LastName" />
                    <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Employee.Title"></label></td>
                <td>
                    <input type="text" asp-for="Employee.Title" />
                    <span asp-validation-for="Employee.Title" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Employee.BirthDate"></label></td>
                <td>
                    <input type="date" asp-for="Employee.BirthDate" />
                    <span asp-validation-for="Employee.BirthDate" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Employee.HireDate"></label></td>
                <td>
                    <input type="date" asp-for="Employee.HireDate" />
                    <span asp-validation-for="Employee.HireDate" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Employee.Country"></label></td>
                <td>
                    <select asp-for="Employee.Country" asp-items="Model.Countries">
                        <option value="">Please select country</option>
                    </select>
                    <span asp-validation-for="Employee.Country" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Employee.Notes"></label></td>
                <td>
                    <textarea rows="5" cols="40" asp-for="Employee.Notes"></textarea>
                    <span asp-validation-for="Employee.Notes" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-success">Save</button></td>
            </tr>
        </table>
    </form>
    <br />
    <br />
    <a asp-page="List" class="btn btn-link btn-primary">Back to Employee Listing</a>
}